<h1>Books</h1>
  <% @books.each do |book| %>
  <div>
    <b>Title</b>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <b>Opinion<%= book.body %></b>
  </div>
  <% end %>
